@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

.calc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  background: F1F2F3;
}

.calc.dark {
  background: black;
  color: white;
}

/* Display Container */
.calc-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;    
  justify-content: flex-end;
  flex-grow: 1;   
  padding: 0 20px; 
  margin-bottom: 20px; 
  margin-top: 0;      
}

.calc-display .equation {
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  color: #7c7c7c;
  margin-bottom: 4px;
  line-height: 1.2;
}

.calc-display .result {
  font-size: 64px;   
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 1;     
  word-break: break-all;
}

/* Grid */
.calc-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/* wrapper */
.calculator-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;       
  overflow: hidden;  
  background: inherit; 
}


/* Buttons */
.btn {
  width: 100%;
  height: 72px; 
  border-radius: 28%; 
  font-size: 28px;
  font-family: 'Work Sans', sans-serif;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-backspace {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*LIGHT MODE (MÀU SẮC MẶC ĐỊNH) */
.btn.gray {
  background: #FFFFFF; 
  color: black;      
}

.btn.dark {
  background: #FFFFFF; 
}


.btn.blue {
  background: #4B5EFC;
  color: white;        
}

/*DARK MODE*/
.calc.dark .btn.gray {
  background: #4E505F; 
  color: white;       
}

.calc.dark .btn.dark {
  background: #2E2F38;
  color: white;     
}

.calc-keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;           
  padding: 0 20px;
  margin-bottom: 20px; 
  flex-shrink: 0; 
}

/* Home Indicator */
.home-indicator-container {
  width: 100%;
  height: 34px; 
  display: flex;
  justify-content: center; 
  align-items: flex-end;   
  padding-bottom: 8px; 
}

.home-indicator-bar {
  width: 134px;   
  height: 5px;
  background-color: #000000; 
  border-radius: 100px;      
}

.calc.dark .home-indicator-bar {
  background-color: #ffffff;
  opacity: 0.8; 
}

/* Theme toggle */
.theme-toggle {
  margin-top: 10px;    
  margin-bottom: 0;    
  width: 100%;
  text-align: center;
  flex-shrink: 0;    
}
